html{background-color:black}
h1{font-family:"Libre Baskerville", serif;color:gold}
h2{font-family:"Libre Baskerville", serif;color:white}
#quote{font-family:"Libre Baskerville", serif;color:gold}
div{width:50%;margin-left:25%}
img{width:100%;border:5px solid gold}
#name{color:white}


